:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --vdBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --vlGray: hsl(0, 0%, 98%);
}

* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  background-color: #ddd;
  text-align: left;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: grid;
  place-items: center;
}

main {
  width: clamp(343px, 100%, 1440px);
  height: 100vh;
  background: white;
  padding: 4rem 1rem;
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
}

/******************
***Title section***
*******************/
.title {
  width: clamp(343px, 70%, 700px);
  color: var(--vdBlue);
  text-align: center;
}

h1 {
  font-size: 1.625rem;
  font-weight: 200;
}

h2 {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.title > p {
  color: var(--grayishBlue);
}

/******************
***Cards section***
******************/

.card {
  background-color: white;
  width: 343px;
  height: 200px;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 1px 6px 20px 2px hsl(257, 40%, 85%);
}

.card > h3 {
  color: var(--vdBlue);
  margin: 0.5rem 0;
}

.card > p {
  color: var(--grayishBlue);
}

.card > img {
  width: 47px;
  float: right;
  position: relative;
  top: 13px;
  right: 13px;
}


.lBlue {
  border-top: 4px solid var(--cyan);
}

.red {
  border-top: 4px solid var(--red);
}

.orange {
  border-top: 4px solid var(--orange);
}

.dBlue {
  border-top: 4px solid var(--blue);
}

/************************
***Media query section***
************************/

@media screen and (min-width: 750px) {
  main {
    padding: 4rem 1rem;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
  }
  
  .title {
    grid-column: 1 / 3;
  }
}
