:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --vdBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --vlGray: hsl(0, 0%, 98%);
}

* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  background-color: #ddd;
  text-align: left;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: grid;
  place-items: center;
}

main {
  width: clamp(343px, 100%, 1440px);
  height: 100vh;
  background: white;
  padding: 4rem 1rem;
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  justify-items: center;
  row-gap: 1rem;
}

/******************
***Title section***
*******************/
.title {
  color: var(--vdBlue);
  text-align: center;
}

h1 {
  font-size: 1.625rem;
  font-weight: 200;
}

h2 {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.title > p {
  color: var(--grayishBlue);
}


/******************
***Cards section***
******************/

.card {
  background-color: white;
  width: 343px;
  height: 200px;
  border-radius: 10px;
  /* box-shadow: 1px 3px 40px 2px grey; */
  box-shadow: 3px 10px 15px 5px hsl(257, 40%, 85%);
}

.lBlue {
  border-top: 5px solid var(--cyan);
}

.red {
  border-top: 5px solid var(--red);
}

.orange {
  border-top: 5px solid var(--orange);
}

.dBlue {
  border-top: 5px solid var(--blue);
}


/*******************
***Bottom section***
*******************/

/*****************
***User section***
*****************/

/************************
***Media query section***
************************/

@media screen and (min-width: 875px) {
}
